{% extends "layout.html" %}
{% block title %}Perfil de Enfermero{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block navbar %}
    {% include "components/navbar.html" %}
{% endblock %}
{% block content %}
    <div class="container">
        <h1 style="color:aliceblue" class="pt-5">Enfermero {{nurse.last_name}}</h1>
        <br>
        <br>
        <h6 style="color:aliceblue">Datos</h6>
        <form action="{{ url_for('edit_nurse_profile',id_nurse=nurse.user_id) }}" method="POST" class="col-sm-12 h-auto">
            <div class="row align-items-start">
                <div class="col-md-4">
                    <h7 style="color:aliceblue">Nombre</h7>
                    <input class="form-control" name="first_name" type="text" value={{nurse.first_name}} aria-label="Disabled input example" disabled readonly >
                </div>
                <div class="col-md-4">
                    <h7 style="color:aliceblue">Apellido</h7>
                    <input class="form-control"  name="last_name" type="text" value={{nurse.last_name}} aria-label="Disabled input example" disabled readonly >
                </div>
            </div>
            <br>
            <div class="row align-items-start">
                <div class="col-md-4">
                    <h7 style="color:aliceblue">Email</h7>
                    <input class="form-control" name="email" type="email" value={{nurse.email}} aria-label="input example" disabled readonly>
                </div>
                <div class="col-md-4">
                    <h7 style="color:aliceblue">DNI</h7>
                    <input class="form-control" name = "dni" type="text" value={{nurse.dni}} aria-label="input example" disabled readonly >
                </div>
            </div>
            <br>
            <div class="row align-items-start">
                <div class="col-md-4">
                    <h7 style="color:aliceblue">Fecha de Nacimiento</h7>
                    <input class="form-control" placeholder="(DD/MM/YYYY)" name="day_of_birth" type="text" value={{nurse.day_of_birth}} aria-label="input example" disabled readonly >
                </div>
                <div class="col-md-1">
                    <h7 style="color:aliceblue">Edad</h7>
                    <input class="form-control" type="text" value={{edad.years}} aria-label="Disabled input example" disabled readonly >
                </div> 
                <div class="col-md-3">
                    <h7 style="color:aliceblue">Sede</h7>
                    <input class="form-control" type="text" value={{nurse.user_sede}} aria-label="Disabled input example" disabled readonly >   
                </div> 
            </div>
            <br>
            <br>
            <br>
            <a class="btn btn-outline-secondary me-md-4"  href="{{url_for('nurses_management')}}" style="border: groove">Volver al modulo de enfermeros</a>
        </form>
        <br>
        <br>
    </div>
{% endblock %}
{% block footer %}
    {% include "components/footer.html" %}
{% endblock %}